mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").style-input
        .style-input-element
          +icon("checked","icon-check")
        .style-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").style-input
        .style-input-element
          +icon("checked","icon-check")
        .style-input-text=text
mixin radio(text,group,checked)
  .check-el
    label.style-label.style-label--radio
      input(type="radio" name=group checked=checked).style-input
      .style-input-element
        .icon-radio
      .style-input-text=text

mixin incr(a,type)
  - a = a || 1
  .elements-icr-block
    .incr(class=type?type:'')
      .incr__minus.incr__nav
        +icon("minus","icon")
      .incr__val
        span=a
        .incr__val-coner
      .incr__plus.incr__nav
        +icon("plus","icon")

mixin bread()
  .main-cont
    .bread(typeof='BreadcrumbList' vocab='https://schema.org/')
      span(property='itemListElement' typeof='ListItem')
        a(property='item' typeof='WebPage' title='' href='#')
          span(property='name') Главная
        meta(property='position' content='1')
      | /
      span(property='itemListElement' typeof='ListItem')
        a(property='item' typeof='WebPage' title='Перейти к архиву рубрики Консилиум.' href='#')
          span(property='name') Каталог
        meta(property='position' content='2')
      | /
      span Пункт услуги

mixin order()
  // order-banner
  .order-banner(style="background-image:url('img/banner-1.jpg')")
    .order-banner-wrap
      .order-form.msg-box
        .msg-box-wrap
          .title.title--lg Участок с домом и коммуникациями за <span class="type--green">2 400 000 руб</span>.
          .input-cont
            .input-row
              input(type="text" placeholder="Ваше имя" class="input")
          .input-cont
            .input-row
              input(type="text" placeholder="Телефон" class="input")
          .btn--md.btn--mark.btn--full Записаться на просмотр
  // order-banner === end

mixin map()
  .map.map--full
    .map__el
      //put map her